:root{
    --main-color: #511da3;
    --action-color: #f2b880;
    --neutral-color: #dadff7;
    --contrast-color: rgba(34, 24, 28, 1);
    --contrast-color2: rgba(34, 24, 28, 0.5);
}

body{
    margin: 0;
    padding: 0;
    font-family: "parkisans", sans-serif;
    user-select: none;
    overflow-x: hidden;
}

.img-bg {
    filter: grayscale(50%);
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* Adapte l’image */
    transform: translate(-50%, -50%); /* Centre l’image */
    z-index: -1;
}

header{
    height: 70px;
    width: 100vw;
    background: var(--main-color);
    display: flex;
    align-items: center;
    border-bottom: 0.05px solid var(--neutral-color);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

    h1{
        margin: 25px;
        font-family: "slackey";
        color: var(--neutral-color);
    }

main{
    background-color: var(--neutral-color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

    main > h2{
        text-align: center;
    }

    input{
        color: var(--contrast-color2);
        background-color: var(--neutral-color);
        border: 0.05px solid var(--contrast-color2);
        outline: none;
    }

button{
    color: var(--neutral-color);
    background: var(--contrast-color);
    border: none;
    outline: none;
    transition: padding 0.2s;
}

button:hover{
    cursor: pointer;
}


#score_section{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--main-color);
    position: absolute;
    top: 0vh;
    left: 0;
    transition: top 0.2s;
    z-index: 99;
}

    #score_section > h2{
        color: var(--neutral-color);
    }

    #score_section > p{
        font-family: "slackey";
        font-weight: bold;
        color: var(--action-color);
    }

    table {
        color: var(--neutral-color);
        border-collapse: collapse;
    }
    th, td {
        border: 1px solid var(--neutral-color);
        text-align: center;
    }
    th {
        background-color: #621ece;
    }
    tr{
        background-color: #744ae8;
    }


/* 📲 Petites tablettes (480px à 768px) */
@media screen and (max-width: 768px) and (orientation: landscape) {
        h1{
            margin: 25px;
        }

    main{
        height: 400px;
        max-height: 90vh;
        width: 800px;
        max-width: 60vw;
        border-radius: 10px;
    }

        main > h2{
            font-size: 20px;
        }

        input{
            margin: 15px;
            padding: 5px;
            font-size: 16px;
            border-radius: 4px;
        }

    button{
        margin: 30px 0;
        padding: 8px 24px;
        font-size: 25px;
        border-radius: 4px;
    }

    button:hover{
        padding: 12px 36px;
    }

        #score_section > h2{
            font-size: 40px;
        }

        #score_section > p{
            margin: 25px;
            font-size: 100px;
            filter: drop-shadow(0 0 5px var(--action-color));
        }

        table {
            width: 80%;
            box-shadow: 0 0 15px var(--contrast-color2);
        }
        th, td {
            padding: 15px;
        }
}

/* 💻 Tablettes et petits écrans (768px à 1024px) */
@media screen and (max-width: 1024px) and (orientation: landscape) {
        h1{
            margin: 25px;
        }

    main{
        height: 400px;
        max-height: 90vh;
        width: 800px;
        max-width: 60vw;
        border-radius: 10px;
    }

        input{
            margin: 25px;
            padding: 10px;
            font-size: 20px;
            border-radius: 4px;
        }

    button{
        margin: 50px 0;
        padding: 8px 24px;
        font-size: 25px;
        border-radius: 4px;
    }

    button:hover{
        padding: 12px 36px;
    }

        #score_section > h2{
            font-size: 40px;
        }

        #score_section > p{
            margin: 25px;
            font-size: 120px;
            filter: drop-shadow(0 0 10px var(--action-color));
        }

        table {
            width: 60%;
            box-shadow: 0 0 15px var(--contrast-color2);
        }
        th, td {
            padding: 15px;
        }
}

/* 🖥️ Ordinateurs et écrans larges (plus de 1200px) */
@media screen and (min-width: 1024px) and (orientation: landscape) {
        h1{
            margin: 25px;
        }
    
    main{
        height: 400px;
        max-height: 90vh;
        width: 800px;
        max-width: 90vw;
        border-radius: 10px;
    }
    
        input{
            margin: 25px;
            padding: 10px;
            font-size: 20px;
            border-radius: 4px;
        }
    
    button{
        margin: 50px 0;
        padding: 8px 24px;
        font-size: 25px;
        border-radius: 4px;
    }
    
    button:hover{
        padding: 12px 36px;
    }
    
        #score_section > h2{
            font-size: 50px;
        }
    
        #score_section > p{
            margin: 0;
            font-size: 150px;
            filter: drop-shadow(0 0 10px var(--action-color));
        }
    
        table {
            width: 50%;
            box-shadow: 0 0 15px var(--contrast-color2);
        }
        th, td {
            padding: 15px;
        }
}

@media screen and (orientation: portrait) {
    h1{
        font-size: 25px;
        margin: 25px;
    }

main{
    height: 400px;
    max-height: 90vh;
    width: 800px;
    max-width: 90vw;
    border-radius: 10px;
}

    p{
        font-size: 14px;
    }

    h2{
        font-size: 18px;
    }

    input{
        margin: 10px;
        padding: 5px;
        font-size: 15px;
        border-radius: 4px;
    }

button{
    margin: 50px 0;
    padding: 8px 24px;
    font-size: 20px;
    border-radius: 4px;
}

button:hover{
    padding: 12px 36px;
}

    #score_section > h2{
        font-size: 10vw;
    }

    #score_section > p{
        margin: 0;
        font-size: 30vw;
        filter: drop-shadow(0 0 10px var(--action-color));
    }

    table {
        width: 90%;
        box-shadow: 0 0 15px var(--contrast-color2);
    }
    th, td {
        padding: 15px;
    }
}